html{height: 100%;}

body
{ font-family: "lucida sans", arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .78em;
  background: #F6F4F0;
  color: #635B53;}

p
{ margin: 0px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em;}

h1, h2, h3, h4
{ font-size: 150%;
  padding: 7px 0px 5px 0px; 
  margin: 0px 0px 12px 0px; 
  font-weight: normal;
  color: #342F28;
  font-family: serif;}

h1, h3
{ text-transform: uppercase;
  margin: 10px 0px 20px 0px;
  padding: 5px 20px 5px 0px;
  border-bottom: 1px solid #CCC6B4;}

a, a:hover
{ border-bottom: 1px dotted;
  color: #635B53;
  text-decoration: none;}

a:hover
{ border-bottom: 1px solid;
  color: #A4AA04;}

img
{ border: 0px; 
  margin: 0px; 
  padding: 0px;}

a
{ outline: none;}

form
{ padding: 0; 
  margin: 0;}

.left
{ float: left;
  margin-right: 10px;}

.right
{ float: right; 
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;}

blockquote
{ margin: 20px 0px 20px 0px; 
  padding: 10px 20px 0px 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0px 18px 16px;
  padding: 0px;}

ul li
{ list-style-type: square;
  margin: 0px 0px 6px 0px; 
  padding: 0px;}

ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: url(../images/back.png) repeat-x;}

/* @Logo */

#logo
{ width: 870px;
  height: 127px;
  position: relative;
  background: transparent url(../images/logo.png) no-repeat right;}

#logo img{
  margin-top: 5px;
}

#logo #logo_text 
{ position: absolute; 
  top: 0;
  left: 0;}

#logo #logo_header{
  float:right;
  background:transparent url(../images/logo_header.png) no-repeat center;
  width:700px;
  height:121px;
}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #777;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #B8BD20;}

#logo_text a:hover .logo_colour
{ color: #777;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #BBB;}

#logo h1, #logo h2
{ margin: 0;
  font-family: "century gothic", arial, sans-serif;}

#logo h1
{ font-size: 300%;
  padding: 22px 0px 0px 0px;
  color: #777;}

#logo h2
{ font-size: 120%;
  padding: 4px 0px 0px 0px;
  color: #BBB;}

#logo a
{ border: none;}

/* @Logo END */

/* @Menubar */

#menubar
{ width: 870px;
  height: 46px;
  padding-top: 4px;
  padding-left: 4px;} 

ul#menu
{ float: right;
  margin: 0px;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font-family: serif;
  font-size: 100%;
  display: block; 
  float: left; 
  height: 20px;
  text-decoration: none; 
  padding: 9px 22px 5px 16px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  border: none;} 

ul#menu li.selected a
{ height: 20px;
  padding: 7px 22px 4px 16px;}

ul#menu li.selected
{ margin: 7px 0 0 0;
  background: #635B53 url(tabs.png) no-repeat 0 0px;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #635B53 url(tabs.png) no-repeat 100% 0px;
  color: #FFF;}

ul#menu li a:hover
{ color: #A4AA04;}

/* @MenuBar END*/

/* @Inhalt */

#site_content
{ width: 875px;
  margin-top: 10px;
  overflow: hidden;} 

/* @Inhalte END */

/* @Portal-Column -Two */ 

#portal-column-two
{ float: right;
  width: 178px;
  padding: 20px 25px 15px 15px;
  left:0px;
}

#portal-column-two ul
{ width: 178px; 
  padding-top: 4px; 
  margin: 4px 0px 30px 0px;}

#portal-column-two li
{ list-style: none; 
  padding: 0px 0px 2px 0px; }

#portal-column-two li a, #portal-column-two li a:hover
{ text-decoration: none; 
  padding: 4px 0px 4px 35px;
  display: block;
  background: transparent url(arrow.png) no-repeat left center;
  color: #555;
  border: none;} 

#portal-column-two li a.selected, #portal-column-two li a:hover, #portal-column-two li a.selected:hover
{ color: #A4AA04;} 

#portal-column-two dt.portletHeader{
  font-size: 150%; 
  font-weight: normal;
  color: #342F28;
  font-family: serif;
  margin: 10px 0px 20px 0px;
  padding: 5px 20px 5px 0px;
  border-bottom: 1px solid #CCC6B4;
}

#portal-column-two a{
  border-bottom:none;
}

#portal-column-two dd.portletItem{
  margin-left: 20px;
}

#portal-column-two dd.portletFooter{
  margin-left: 25px;
  margin-top: 5px;
}

/* @Portal-Column-Two END */

/* @Portal-Column-One */

#portal-column-one
{ float: left;
  width: 178px;
  padding: 20px 25px 15px 15px;
  position: absolute;
  left: 10px;
  margin:0;
}

/* @Portal-Column-One END */


#content
{ text-align: left;
  width: 624px;
  float: left;
  padding: 20px 10px 15px 0px;}

.search
{ width: 122px;
  border: 1px solid #CCC6B4;
  padding: 4px;
  color: #635B53;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #FFF;
  color: #47433F;
  border-top: 1px solid #FFF;}



#portal-personaltools{
  background-color: rgba(164,170,4,0.5);
  color: #fff;
  padding:2px;
  position: fixed;
  right:0;
  text-align:left;
  top:0;
  width:146px;
  margin: 0px;
  z-index:99;
}

#portal-personaltools .actionMenuHeader{
  color: #fff;
}

#portal-personaltools .actionMenuContent{
  margin-left:5px; 
}

#portal-personaltools .actionMenuContent ul{
  margin:5px; 
}

#portal-personaltools .actionMenuHeader a{
  color: #fff;
}

dl.actionMenuContent a, dl.actionMenuContent div{
  display: block !important;;
  white-space: nowrap;
}

dl.actionMenu.deactivated dt{
  margin: 0 0.25em;
}

dl.actionMenu.deactivated dd{
  display: none;  
}

dl.actionMenu.activated dd{
  min-width:100%;
  position:fixed;
  width:146px;
}

dl.actionMenu.activated dt a, dl.actionMenu.activated dd a, dl.actionMenu.activated dd div{
  margin: 0 0.25em;
}

#portal-personaltools .actionMenuContent{
  background-color: rgba(164,170,4,0.5);
}

#portal-personaltools li{
    list-style-type:none;
}

#portal-personaltools a{
  color: #fff;
}

/* @Anmeldung */

#pb_1 {
  background-color: rgba(164,170,4,0.9);
  position: absolute;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#pb_1 div.close {
    background-image: url(../images/close.png);
    position: absolute;
    left: -14px;
    top: -14px;
    cursor: pointer;
    height: 48px;
    width: 48px;
    content:'';
}

#pb_1 div.close span{
    display: none;
}

#pb_1 #content{
  margin:0;
  padding:10px;
}

.field{
  clear: both;
  margin-top: 5px;
}

.formControls{
  margin: 1em;
}

#login-form{
    text-align:center;
}

#login-form label{
  display: inline-block;
  margin-right: 0.5em;
  padding-top: 0.2em;
  text-align:right;
  width:10em;
}

#login-forgotten-password{
  margin-left: 10px;
}

/* @Anmeldung END */

/* @Footer */

#footer
{ width: 100%;
  font-family: sans-serif;
  font-size: 90%;
  height: 80px;
  padding: 20px 0px 4px 0px;
  margin-bottom: 0px;
  text-align: center; 
  background: #313131;
  color: #A8AA94;
  border-top: 4px solid #A4AA04;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #A8AA94;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

#portal-siteactions{
  text-align:center;
}

#portal-siteactions li {
  display: inline;
  list-style:none;
}

/* @ Footer END */

/* @group Editing */

/* @group Tabs */

/* Color differences between the two tab types */
#content ul.formTabs {
    background-color: #ddd;
    border: 0.3em solid #ddd;
}
#edit-bar {
    background-color: #75ad0a;
    border: 0.25em solid #75ad0a;
    font-size: 80%;
    min-height: 2em;
    margin-bottom: 1em;
    padding-top: 0.05em;
}
#content-views {
    float: lef;
    text-align:lef;
    background-color: #75ad0a;
    list-style-type:none;
    list-style-position:outside;
}

#content-views li{
    list-style-type:none;
    display: inline;
}

#content-views a {
    color: White;
}

/* Shared CSS between the two tab types */
#edit-bar,
#content ul.formTabs {
    display: block;
    border-style: solid solid none solid;
    margin-left: 0;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}
#content li.formTab {
    display: inline;
    margin-right:0.25em;
}
#content-views a,
#content li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}
#content-views a,
#content li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}
#content-views li.selected a,
#content li.formTab a.selected {
    font-weight: bold;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
    background: White;
    color: Black;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}
#content li.formTab a.notify {
    background-color: red;
    color: White;
}
#content li.formTab a.required span {
    background-image: url(required.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 1em;
}
#content fieldset.formPanel {
    border: none;
}
#content fieldset.formPanel.hidden {
    display: none;
}
#content div.formControls input.hidden {
    display: none;
}

/* @end */

/* @group Pulldown menus */

/* @group Personal tools pulldown */
/*#portal-personaltools dl {
}
#portal-personaltools dt {
    font-weight: normal;
}
#portal-personaltools dt.actionMenuHeader a:after {
    content: " ▼";
}
#portal-personaltools dd {
    right: 0;
    padding-top: 0.5em;
}
#portal-personaltools dd {
    background: #e3e3e3;
    padding-bottom: 0.5em;
}
#portal-personaltools dd a {
    line-height: 2em;
    padding: 0 0.75em;
}
#portal-personaltools dd a:hover {
    background: #205c90;
    color: White;
}*/

/* @end */

/* @group Content pulldowns */

#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
    background-color: #75ad0a;
    color: White;
    z-index: 5;
}
#contentActionMenus dl.actionMenu.activated dd {
    border-bottom: 0.5em solid #75ad0a;
        right: -3px;
}
#contentActionMenus dl.actionMenu.activated dd a:hover,
#contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
    background-color: White !important;
    color: #666;
}
#contentActionMenus dl.actionMenu {
    line-height: 2em;
}

#folderHeader, #contextHeader {
        border-bottom: 2px solid white;
}

#contextHeader { margin-top: 5px; }


/* @end */

#contentActionMenus {
    float: right;
    background: #75ad0a;
    margin: 0;
    position: relative;
    top: -40px;
    right:-0.24em;
    padding: 0.1em 0.24em 0 0;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    -webkit-border-radius: 0.5em;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 0.5em;
    -moz-border-radius-topleft: 0;
    list-style:none;
    list-style-position:outside;
}

#contentActionMenus li{
  display: inline;
}

#contentActionMenus a{
  border-bottom:0px;
}

.actionMenuContent {
    padding: 0 0.25em;
}

dl.actionMenu {
    float: right;
    white-space: nowrap;
    position: relative;
    margin-left: 0.5em;
}
dl.actionMenu a,
dl.actionMenu div {
    display: block !important;
    white-space: nowrap;
}
dl.actionMenu dt {
    font-weight: normal;
}
span.arrowDownAlternative {
    font-size: 80%;
}
dl.actionMenu.deactivated dt {
    margin: 0 0.25em;
}
dl.actionMenu.deactivated dd {
    display: none;
}
dl.actionMenu.activated dd {
    position: absolute;
    width: auto;
    min-width: 100%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
}
dl.actionMenu.activated dt a,
dl.actionMenu.activated dd a,
dl.actionMenu.activated dd div {
    margin: 0 0.25em;
}

/* @end */

/* @group Control panel */

#setup-link {
    font-size: 90%;
}

#content ul.configlets {
    margin: 1em 0;
    list-style-image: none;
    list-style: none;
}
#content ul.configlets li {
    margin-bottom: 1em;
    list-style: none;
    display: block;
}
#content ul.configlets li a {
    text-decoration: none;
    border: none;
}
#content ul.configlets li a:visited {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li a:active {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li label {
    font-weight: bold;
}
#content ul.configletDetails {
    margin: 0em 1em 1em 4em;
    list-style-image: none;
    list-style: none;
}
#content ul.configletDetails li {
    margin-bottom: 1em;
    display: inline;
}
#content ul.configletDetails li a {
    text-decoration: none;
}
#content ul.configletDetails li label {
    font-weight: bold;
}
#content ul.configletDetails li.configletDescription {
    display: block;
    color: #76797c;
    margin: 0;
}
.inlineDisplay {
    display:inline
}
table.controlpanel-listing {
    width:100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
    font-size:120%;
}
table.controlpanel-listing dl {
    margin-top:0;
}
table.controlpanel-listing dd {
    margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger{
    font-weight:normal;
}
table .controlpanel-listing td {
    vertical-align:top;
}
table.controlpanel-listing td.checker{
    text-align:center;
}
table.controlpanel-listing th.smallcolumn {
    width:1.5em;
}
.chooser-right {
    float:right;
    margin-right:0;
    margin-bottom:0;
}
.rule-element {
    background-color:#EEF3F5;
    margin:0.5em 0pt 0.5em;
    padding:0.3em 1em 0.3em 1em;
    width:auto;
}
.rule-element dl {
}
.rule-element dl dd {
    margin-left:1em;
}
.rule-updown, .rule-operations {
    float:right;
    padding-top:0.8em;
}
/* @end */

/* @group Collapsible */
dl.collapsible {
    border: 0.1em solid #8cacbb;
    margin: 1em 0;
    padding: 0;
}
dl.collapsible dt.collapsibleHeader {
    display: block;
    float: left;
    background: White;
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 90%;
    position: relative;
    top: -0.6em;
    width: auto;
    margin: 0 0 -0.6em 1em;
    padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
    margin: 0;
    padding: 0 1em 0.4em;
    clear: left;
}

/* for IE the following isn't needed, that's why the css2 selector is used */
dl.collapsible dd.collapsibleContent > dl {
    margin: 0;
    padding: 0;
}

dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
    padding: 0 0.5em 0 2em;
    background: White url(treeExpanded.png) no-repeat 0.5em 50%;
    cursor: pointer;
}

dl.collapsedBlockCollapsible {
    border: none;
    height: 1em;
    width: auto;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader,
dl.collapsedBlockCollapsible dt.collapsibleHeader {
    float: none;
    position: relative;
    margin: 0 0 0 1em;
    padding: 0 0.5em 0 2em;
    line-height: 1.2em;
    cursor: pointer;
    background: White url(treeCollapsed.png) no-repeat 0.5em 50%;
}
dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
    display: none;
}
dl.collapsedInlineCollapsible {
    border: none;
    height: 1em;
    width: auto;
    display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
    position: static;
    float: none;
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 1em;
    cursor: pointer;
    display: inline;
}

/* @end */

/* @group Comments */

.comment {
    margin-top: 1.5em;
    font-size: 80%;
}

.comment .documentByLine {
    margin-left: 1em;
}

.comment .formControls {
    margin-left: 0;
}

.commentTime {
    color: #666;
}

.commentBody {
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    box-shadow: 0 0 1em 0 #888;
    -moz-box-shadow: 0 0 0.5em 0 #888;
    -webkit-box-shadow: 0 0 0.5em #888;
}

.comment h1,
.comment h2,
.comment h3,
.comment h4,
.comment h5,
.comment h6 {
    font-weight: normal;
}

/* @end */

.reviewHistory,
.contentHistory {
    display: inline;
    color: Black;
}
.spacer {
    margin: 1em;
}

.label {
    font-weight: bold;
    display: inline;
    padding-right: 0.5em;
}
.optionsToggle {
    border: 0.1em solid #8cacbb;
    color: Black;
    background-color: #dee7ec;
    font-weight: normal;
    font-size: 90%;
}

/* for highlighting of search terms */
.highlightedSearchTerm {
   background-color: #ffa;
}

dl.searchResults .highlightedSearchTerm {
    background-color: transparent;
    font-weight: bold;
}
/* for greying out inherited roles */
.noInheritedRoles {
    color: #a0a0a0;
}
/* for highlighting current items, like the language or today in the calendar */
.currentItem {
    border-collapse: collapse;
    border: 0.2em solid #ffa500;
    padding: 0.1em;
}


/* @end */

/* @group Search results page */

form.searchPage {
    text-align:center;
}

input.searchPage {
    font-size:200% !important;
}

/* @end */


/* @group Image alignment classes */

.image-left {
   float: left;
   margin: 0.5em 1em 0.5em 0;
}
.image-right {
   float: right;
   margin: 0.5em;
}
.image-inline {
   float: none;
}
/*note: the tricky thing here is that image-inline|image-left|image-right
can both be on an image and a wrapper element e.g. a dl tag*/
img.image-left,
img.image-right,
.captioned img {
    border: 1px solid #ddd;
}
dd.image-caption {
    text-align: left;
    padding: 0 0 0 3px; /*image padding+border with*/
    margin: 0;
    color: #666;
    font-size: 85%;
}

/* @end */


/* @group Dashboard */

#dashboard-actions ul,
#dashboard-actions ul li {
    list-style: none;
}
#dashboard-actions ul {
    margin-left: 0;
}

#dashboard {
    font-size: 125%;
    line-height: 1em;
}

#dashboard dd {
    margin: 0;
}


#dashboard dl.portlet a:link {
    border-bottom: none;
}

#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3 {
    float:left;
    width:23%;
    padding:0.7em 1.3em 0 0;
}

#dashboard-portlets4 {
    float:left;
    width:23%;
    padding-top:0.7em;
}

#dashboard-portlets1 dl.portlet,
#dashboard-portlets2 dl.portlet,
#dashboard-portlets3 dl.portlet,
#dashboard-portlets4 dl.portlet {
    margin-bottom:1.5em;
}

/* @end */
